Makefile
*.pbc
*.c
*.o
*~
*.so
*.dump
*_group.*
src/pmc/pmc_*.h
src/nqp/*.pir
t/testlib/*.pir
t/testlib/methods/*.pir
t/methods/nummatrix2d/*.pir
t/methods/complexmatrix2d/*.pir
t/methods/pmcmatrix2d/*.pir
