body {
    background-color: #000000;
    color: #AAAAAA;
}

table#master_table {
    width: 100%;
}

td#left_margin {
    width: 5em;
}

td#main_column {
    background-color: #222222;
    border: 1px solid #444444;
    padding: 5px;
}

td#nav_column {
    background-color: #222222;
    border: 1px solid #444444;
    padding: 5px;
}

td#right_margin {
    width: 5em;
}

h3 {
    margin-left: 2em;
    border-bottom: 1px solid #444444;
}

h4 {
    margin-left: 3em;
}

p {
    margin-left: 4em;
}

a {
    color: #DDD000;
}

code {
    background-color: #333333;
    border: #AAA555;
    color: #BBBBBB;
    padding: 2px;
}

