<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/parrot-linear-algebra/stylesheets/poddocs.css" type="text/css">
</head>

<body>
    <h1>{{ page.title }}</h2>
    <table cellpadding="5" cellspacing="5" id="master_table">
        <tr>
            <td id="left_margin"></td>
            <td id="main_column" valign="top">
                {{ content }}
            </td>
            <td id="nav_column" valign="top">
                <h3>Project</h3>
                <ul>
                    <li><a href="/parrot-linear-algebra/index.html" class="nav_link">
                        Home
                    </a></li>
                    <li><a href="http://github.com/Whiteknight/parrot-linear-algebra">
                        Source
                    </a></li>
                    <li><a href="http://github.com/Whiteknight/parrot-linear-algebra/issues">
                        Issues
                    </a></li>
                </ul>
                <h3>Building</h3>
                <ul>
                    <li>
                        <a href="/parrot-linear-algebra/general/install.html">Installation</a>
                    </li>
                    <li>
                        <a href="/parrot-linear-algebra/general/testing.html">Testing</a>
                    </li>
                </ul>
                <h3>PMC Documentation</h3>
                <ul>
                    <li>
                        <a href="/parrot-linear-algebra/pmcs/nummatrix2d.html" class="nav_link">
                            NumMatrix2D
                        </a>
                        <ul>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/vtables-general/nummatrix2d.html">
                                    VTABLEs
                                </a>
                            </li>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/vtables-arithmetic/nummatrix2d.html">
                                    Arithmetic
                                </a>
                            </li>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/methods/nummatrix2d.html">
                                    Methods
                                </a>
                            </li>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/examples/nummatrix2d.html">
                                    Examples
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/parrot-linear-algebra/pmcs/complexmatrix2d.html" class="nav_link">
                            ComplexMatrix2D
                        </a>
                        <ul>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/vtables-general/complexmatrix2d.html">
                                    VTABLEs
                                </a>
                            </li>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/vtables-arithmetic/complexmatrix2d.html">
                                    Arithmetic
                                </a>
                            </li>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/methods/complexmatrix2d.html">
                                    Methods
                                </a>
                            </li>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/examples/complexmatrix2d.html">
                                    Examples
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/parrot-linear-algebra/pmcs/pmcmatrix2d.html" class="nav_link">
                            PMCMatrix2D
                        </a>
                        <ul>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/vtables-general/pmcmatrix2d.html">
                                    VTABLEs
                                </a>
                            </li>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/methods/pmcmatrix2d.html">
                                    Methods
                                </a>
                            </li>
                            <li>
                                <a href="/parrot-linear-algebra/pmcs/examples/pmcmatrix2d.html">
                                    Examples
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <h3>Roles</h3>
                <ul>
                    <li>
                        <a href=/parrot-linear-algebra/pmcs/roles/matrix.html">
                            'matrix' Role
                        </a>
                    </li>
                    <li>
                        <a href=/parrot-linear-algebra/pmcs/roles/numericmatrix.html">
                            'numericmatrix' Role
                        </a>
                    </li>
                </ul>
            </td>
            <td id="right_margin"></td>
        </tr>
    </table>
</body>
</html>
